:root {
  --main-color: #6b62ff;
  --second-color: #f4f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 800px) {
  h1.text-center {
    font-size: 60px;
  }
  h2 {
    text-align: center !important;
  }
  h2.text-center {
    font-size: 36px;
  }
  #hide-image {
    display: none;
  }
  p.text-start {
    text-align: center !important;
  }
  .navigation-button {
    display: block;
    text-align: center;
    margin-top: 40px;
  }
}
body {
  margin-top: 100px;
}
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 48px;
  text-align: left;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.navigation-links a,
.navigation-button {
  padding: 20px 15px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  margin: 20px;
  text-transform: capitalize;
}

.navigation-links {
  display: flex;
  justify-content: start;
}
.navigation-button,
#contact-link {
  background: var(--main-color);
  color: white;
  box-shadow: var(--box-shadow);
}
.info {
  margin: 30px 20px 30px 0px;
  text-align: center;
}
.navbar-brand {
  margin: 0 15px 0 30px;
}

#about-me {
  color: var(--main-color);
}
#contact-link:hover,
#about-me:hover {
  color: blue;
}
#mail {
  text-decoration: none;
  font-size: 28px;
  color: var(--main-color);
}
#mail:hover {
  text-decoration: underline;
}
